backcall==0.2.0
certifi==2020.6.20
cycler==0.10.0
decorator==4.4.2
imageio==2.9.0
ipython==7.6.0
ipython-genutils==0.2.0
jedi==0.17.1
kiwisolver==1.2.0
matplotlib==3.2.2
networkx==2.4
numpy==1.14.0
opencv-python==4.3.0.36
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==2.0.10
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.17.2
scipy==1.5.1
six==1.15.0
tifffile==2020.7.4
torch==0.4.1
torchvision==0.2.0
tqdm==4.47.0
traitlets==4.3.3
wcwidth==0.2.5
